@model MugStore.Web.ViewModels.Product.IndexViewModel

@Html.Partial("_CanvasPartial")
@Html.Partial("_MenuPartial")

@{
    var previewImagesList = new List<string>();
    foreach (var image in Model.Images)
    {
        if (image.Preview3d)
        {
            previewImagesList.Add(image.Name);
        }
    }
}

<section id="product-details" class="site-section" data-preview-images="@string.Join(",", previewImagesList)">
    <div id="image-gallery">
        <img src="@Url.RouteUrl("ProductImage", new { name = @Model.Images.First().Name })">
        <ul>
            @foreach (var image in Model.Images)
            {
                <li><a class="gallery-img" href="@Url.RouteUrl("ProductImage", new { name = @image.Name })"><img src="@Url.RouteUrl("ProductImage", new { name = @image.Name })" alt=""></a></li>
            }
        </ul>
    </div>
    <div id="product-details-info">
        <h1>@Model.Title</h1>
        <h2>@Model.Description</h2>
        <strong>Код на продукт: @Model.Code</strong>
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li><a href="@Url.RouteUrl("Tag", new { acronym = tag.Acronym })">@tag.Name</a></li>
            }
        </ul>
    </div>
    <div id="product-details-order">   
        <div id="step3" class="hidden">
            <strong><span class="circle">1</span> Попълни данни за доставка</strong>
            <input type="text" name="names" id="names-field" placeholder="Име и фамилия">
            <input type="text" name="phone" id="phone-field" placeholder="Тел. за контакт">
            <select name="city" id="city-dd">
                @foreach (var city in ViewBag.Cities)
                {
                    <option value="@city.Id">@city.Name (п.к. @city.PostCode)</option>
                }
            </select>
            <textarea name="address" id="address-field" placeholder="Адрес за доставка"></textarea>
            <textarea name="comment" id="comment-field" placeholder="Коментар / забележка (незадължително)"></textarea>
            <input type="hidden" id="quantity-range" value="1">
            <input type="hidden" id="payment-method" value="1">
            <input type="hidden" id="product-acronym" value="@Model.Acronym">
            <a href="#disabled" class="blue-btn hidden" id="create-order-btn" data-url="@Url.Action("Create", "Order")">Поръчай</a>
        </div>
        <div id="step4" class="hidden">
            <div class="status-success">Успешно завършихте вашата поръчка</div>
            <strong id="step4-acronym">Поръчка №<span></span></strong>
            <dl>
                <dt>Метод на плащане:</dt>
                <dd id="step4-payment-method"></dd>
                <dt>Адрес за доставка:</dt>
                <dd id="step4-address"></dd>
                <dt>Крайна цена:</dt>
                <dd id="step4-price"></dd>
            </dl>
        </div>
        <a href="#disabled" class="blue-btn" id="show-form-btn">Поръчай</a>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/colorbox")
    @Scripts.Render("~/bundles/product")
}