<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

    <section id="logo-container">
        <i class="fa fa-envira" aria-hidden="true"> Cup3</i>
        <h2>Направи си чаша</h2>
    </section>

    @RenderBody()



    <footer id="footer">
        <div>
            <h5>За нас</h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
        </div>
        <div>
            <h5>Бюлетин</h5>
            Абонирайте се за нашия бюлетин за да разберете веднага за новите ни предложения и промоции.
            <form method="post" id="subscribe-to-bulletin-form" data-url="@Url.Action("Add", "Bulletin")">
                @Html.AntiForgeryToken()
                <input type="email" placeholder="Email адрес" required="required">
                <a href="#" class="blue-btn" id="bulletin-add-btn">Запиши</a>
            </form>
            <div id="subscribe-success" class="status-success hidden">Успешна регистрация</div>
        </div>
        <div>
            <h5>Информация</h5>
            <nav>
                <ol>
                    <li><a href="#">Начало</a></li>
                    <li><a href="#">Галерия</a></li>
                    @*<li><a href="#">За нас</a></li>*@
                    <li><a href="#">Контакти</a></li>
                </ol>
            </nav>
        </div>
        <div>
            <h5>Тагове</h5>
            <ul>
                @foreach (var tag in ViewBag.Tags)
                {
                    <li><a href="@Url.RouteUrl("Tag", new { acronym = tag.Acronym })">@tag.Name</a></li>
                }
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/babylon")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/touchcarousel")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)


</body>
</html>
