@model MugStore.Web.Areas.Admin.ViewModels.Product.CreateViewModel
@{
    var formAction = "Create";
    if (Model.Id > 0)
    {
        formAction = "Edit";
    }
}

<div class="row">
    @using (Html.BeginForm(formAction, "Product", FormMethod.Post, new { area = "Admin", @class = "form", id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label for="Title">Title</label>
                    @Html.EditorFor(p => p.Title)
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label for="Description">Description</label>
                    @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="Code">Code</label>
                    @Html.EditorFor(p => p.Code)
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="Active">Active</label>
                    <select name="Active" id="Active" class="form-control">
                        @{
                            var selectedTrue = "";
                            var selectedFalse = "";
                            if (Model.Active)
                            {
                                selectedTrue = " selected=\"selected\"";
                            }
                            else
                            {
                                selectedFalse = " selected=\"selected\"";
                            }
                        }
                        <option value="True" @selectedTrue>Yes</option>
                        <option value="False" @selectedFalse>No</option>
                    </select>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="CategoryId">Category</label>
                    <select name="CategoryId" id="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            var selected = "";
                            if (category.Id == Model.CategoryId)
                            {
                                selected = " selected=\"selected\"";
                            }
                            <option value="@category.Id" @selected>@category.Name</option>
                        }
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label for="PreviewData">Preview Data</label>
                    @Html.EditorFor(p => p.PreviewData)
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Id == 0)
                {
                    <input type="submit" class="btn btn-primary" value="Create">
                }
                else
                {
                    <input type="submit" class="btn btn-primary" value="Edit">
                }
            </div>
        </div>
    }
</div>