@model MugStore.Web.ViewModels.Gallery.IndexViewModel
@{
    if (Model.CategoryName != null)
    {
        ViewBag.Title = "Чаши със снимки на " + Model.CategoryName.ToLower();
    }
    else
    {
        ViewBag.Title = "Чаши със снимка";
    }
}

@Html.Partial("_MenuPartial")

<section id="gallery" class="site-section">
    <h2>Галерия</h2>
    <h4>Колекция от предварително създадени модели</h4>
    <div>
        <div id="gallery-left">
            <strong>Категории</strong>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li><a href="@Url.RouteUrl("GalleryCategory", new { acronym = category.Acronym })">@category.Name</a></li>
                }
            </ul>
        </div>
        <div id="gallery-right">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li>
                        <a href="@Url.RouteUrl("Product", new { acronym = product.Acronym })">
                            <img src="@Url.RouteUrl("ProductImage", new { name = product.Images.Where(i => i.Thumb).First().Name })">
                        </a>
                        <strong>@product.Title</strong>
                        <a href="@Url.RouteUrl("Product", new { acronym = product.Acronym })" class="blue-btn">Детайли</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

